@using Core.ViewModels
@model IEnumerable<AssigmentDetailsViewModel>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">All your tasks</h2>
        </div>
    </div>

    <br /><br />
    <table class="table table-bordered table-striped text-center">
        <thead class="bg-light">
            <tr>
                <th>Task Name</th>
                <th>Task description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var assigment in Model)
            {
                <tr>
                    <td>
                        <p class="fw-normal mb-1">@assigment.Name</p>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">@assigment.Description</p>
                    </td>
                    <td>

                        <div class="p-1 mb-1 bg-info bg-gradient text-dark">@assigment.Status</div>
                    </td>
                    <td>
                        <a asp-controller="Assigment" asp-action="Delete" asp-route-id="@assigment.Id" class="btn btn-danger">
                            Delete
                        </a>
                        <a asp-controller="Assigment" asp-action="AssigmentDetails" asp-route-id="@assigment.Id" class="btn btn-success">
                            More data
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
